<a href="https://colab.research.google.com/github/ismaelmoralesg/mineria_001/blob/main/Ej_Python_1941526.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Ejercicio 1***

In [2]:
Mat = '1941526'
nombre = 'Ismael'
print (nombre,Mat)

Ismael 1941526

## ***Ejercicio 2***

In [19]:
print("inserte dos numeros")
x= int(input("Introduce el 1er numero:"))
y= int(input("Introduce el 2do numero:"))
print("1 suma 2 resta 3 division 4 multiplicacion")
a= int(input("elige el numero del calculo a realizar: "))

while a==1:
  r= x+y
  print("el resultado de la suma es: ", r)
  break
while a==2:
  r= x-y
  print("el resultado de la resta es: ", r)  
  break
while a==3:
  r= x/y
  print("el resultado de la division es: ", r)
  break  
while a==4:
  r=x*y
  print("el resultado de la multiplicacion es:", r)
  break

inserte dos numeros
Introduce el 1er numero:3
Introduce el 2do numero:4
1 suma 2 resta 3 division 4 multiplicacion
elige el numero del calculo a realizar: 3
el resultado de la division es:  0.75

## ***Ejercicio 3***

In [21]:
multiplos=[0,0,0,0,0,0,0,0,0,0]
for i in range(0,10):
  multiplos[i] = (i+1)*3
print(multiplos)

sum=0
for i in range(0,10):
  sum=sum+multiplos[i]
print("La suma de todos los multiplos es:",sum)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
La suma de todos los multiplos es: 165

## ***Ejercicio 4***

In [22]:
num = input("Introduce un número: ")
num = int(num)
if num == 0:
    print ("El número", num, "es par.")
elif num%2 == 0:
    print ("El numero",num, "es par")
else:
    print ("El numero", num,"es impar")

Introduce un número: 7
El numero 7 es impar

In [37]:

x= int(input("Introduce un número: " ))
i=0
num=0
for i in range(2,x):
    if x%i==0:
        num=num+1
if num==0:
    print('El numero que ingreso es primo')
else:
    print('El numero que ingreso no es primo')

Introduce un número: 29
El numero que ingreso es primo

## ***Ejercicio 5***

In [39]:
import math as m
print("Bienvenido, para salir pulse 6")
a=0
b=0
c=0
d=0
while a!=5:
    a=int(input('Ingresa una opción:\n0. Suma\n1. Resta\n2. Multiplicación\n3. División\n4. Potencia\n5. Salir\n\nOpcion:'))
    if a<0 or a>6:
        a=int(input("Error "))
    if a==0:
        b=float(input("Ingresa un número: "))
        c=float(input("Ingresa otro número: "))
        d=b+c
        print("La suma de los números es: ",d)
    if a==1:
        b=float(input("Ingresa un número: "))
        c=float(input("Ingresa otro número: "))
        d=b-c
        print("La resta de los números es: ",d)
    if a==2:
        b=float(input("Ingresa un número: "))
        c=float(input("Ingresa otro número: "))
        d=b*c
        print("La multiplicacion de los números es: ",d)
    if a==3:
        b=float(input("Ingresa un número: "))
        c=float(input("Ingresa otro número: "))
        d=b/c
        print("La division de los números es: ",d)
    if a==4:
        b=float(input("Ingresa un número: "))
        c=float(input("Ingresa otro número: "))
        d=b**c
        print('El primer numero elevado al segundo numero es:',d)
print("Gracias")310

Bienvenido, para salir pulse 6
Ingresa una opción:
0. Suma
1. Resta
2. Multiplicación
3. División
4. Potencia
5. Salir

Opcion:6
Ingresa una opción:
0. Suma
1. Resta
2. Multiplicación
3. División
4. Potencia
5. Salir

Opcion:0
Ingresa un número: 2
Ingresa otro número: 3
La suma de los números es:  5.0
Ingresa una opción:
0. Suma
1. Resta
2. Multiplicación
3. División
4. Potencia
5. Salir

Opcion:1
Ingresa un número: 3
Ingresa otro número: 2
La resta de los números es:  1.0
Ingresa una opción:
0. Suma
1. Resta
2. Multiplicación
3. División
4. Potencia
5. Salir

Opcion:2
Ingresa un número: 12
Ingresa otro número: 3
La multiplicacion de los números es:  36.0
Ingresa una opción:
0. Suma
1. Resta
2. Multiplicación
3. División
4. Potencia
5. Salir

Opcion:4
Ingresa un número: 42
Ingresa otro número: 7
El primer numero elevado al segundo numero es: 230539333248.0
Ingresa una opción:
0. Suma
1. Resta
2. Multiplicación
3. División
4. Potencia
5. Salir

Opcion:3
Ingresa un número: 100
Ingresa otro número: 10
La division de los números es:  10.0
Ingresa una opción:
0. Suma
1. Resta
2. Multiplicación
3. División
4. Potencia
5. Salir

Opcion:5
Gracias

## ***Ejercicios con estructuras basicas de python***

In [40]:
f= 2.54
i=5
b= True
c= 25j
print("f es del tipo: {}".format(type(f)))
print("i es del tipo: {}".format(type(i)))
print("b es del tipo: {}".format(type(b)))
print("c es del tipo: {}".format(type(c)))

f es del tipo: <class 'float'>
i es del tipo: <class 'int'>
b es del tipo: <class 'bool'>
c es del tipo: <class 'complex'>

In [42]:
t=(23,5,31,2,43,90,25,81,9,10)
print("el primer valor es {} y el ultimo es {}".format(t[0],t[-1]))

el primer valor es 23 y el ultimo es 10

In [43]:
t=t+("Bienvenido", "a", "NY")
print(t)

(23, 5, 31, 2, 43, 90, 25, 81, 9, 10, 'Bienvenido', 'a', 'NY')

In [46]:
Search= int(input("ingrese el elemento que desea buscar: "))

a= Search in t
if a== True:
  print("el elemento {} se encuentra en la tupla".format(Search))
else:
  print("el elemento {} no se encuentra en la tupla".format(Search))

ingrese el elemento que desea buscar: 24
el elemento 24 no se encuentra en la tupla

## ***Listas***

In [47]:
import random
Y= range(1,500)
L1= random.sample(Y,40)
print(L1)

[471, 448, 305, 282, 81, 166, 386, 109, 284, 439, 395, 406, 415, 334, 472, 70, 473, 182, 281, 491, 332, 186, 404, 442, 458, 138, 354, 141, 323, 311, 309, 412, 1, 11, 247, 183, 35, 115, 187, 249]

In [48]:
import random
lista=[]
i=1
while i<=40:
  lista.append(random.randint(1,100))
  i=i+1
class f: #Función
  def parimp(Alista): #Par e impar ;Alista=Agregar lista
    npares=[] #npares= números pares
    nimpares=[] #nimpares= números impares
    j=0
    while j<=len(Alista)-1:
      if Alista[j]%2==0:
        npares.append(Alista[j])
      else:
        nimpares.append(Alista[j])
      j=j+1
    print("\nNúmeros pares: ",npares)
    print("\nNúmeros impares: ",nimpares)
f.parimp(lista)

Números pares:  [30, 98, 92, 84, 44, 30, 98, 12, 18, 2, 92, 62, 60, 60, 84, 84, 76, 88, 54, 70]

Números impares:  [45, 25, 83, 31, 89, 21, 65, 99, 73, 41, 69, 5, 61, 5, 47, 79, 1, 69, 77, 19]

NameError: ignored

In [55]:
Diccionario={"Ismael":21, "Jack":19, "Maria":21, "Habib":23, "David":26, "Chris":23}
print(Diccionario)

{'Ismael': 21, 'Jack': 19, 'Maria': 21, 'Habib': 23, 'David': 26, 'Chris': 23}

In [57]:
edad=list(Diccionario.values())
edad.sort()
print(edad)

[19, 21, 21, 23, 23, 26]

In [58]:
Nombres= Diccionario.keys()
for j in Diccionario:
  print(j)

Ismael
Jack
Maria
Habib
David
Chris

In [61]:
Diccionario["Gabriela"]=21
Diccionario["Phil"]=18
print(Diccionario)

{'Ismael': 21, 'Jack': 19, 'Maria': 21, 'Habib': 23, 'David': 26, 'Chris': 23, 'Gabriela': 21, 'Phil': 18}

## ***SETS***

In [67]:
x= set()
for i in range (100):
  x.add(random.randint(1,25))
print(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

In [68]:
len(x)

25

In [77]:
y=[random.randint(1,10) for _ in range(5)]
for i in range(0,10):
    if y[i] in a:
    print("El elemento ",y[i], "se encuentra en el conjunto")

IndentationError: ignored